<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yoyiyi.soleil">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name=".BiliSoleilApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name=".module.home.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 登录界面 -->
        <activity
            android:name=".module.app.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 欢迎界面 -->
        <activity
            android:name=".module.app.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.search.TotalSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.region.live.LiveRegionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.region.RegionTypeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 全区排行 -->
        <activity
            android:name=".module.region.AllRegionRankActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 全站排行 -->
        <activity
            android:name=".module.recommend.AllStationRankActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 话题中心 -->
        <activity
            android:name=".module.discover.TopicCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 活动中心 -->
        <activity
            android:name=".module.discover.ActivityCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 游戏中心 -->
        <activity
            android:name=".module.discover.GameCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 全部游戏 -->
        <activity
            android:name=".module.discover.AllGameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 番剧时间表 -->
        <activity
            android:name=".module.bangumi.BangumiScheduleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 番剧索引 -->
        <activity
            android:name=".module.bangumi.BangumiIndexActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 广告界面 -->
        <activity
            android:name=".module.region.AdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 浏览器界面 -->
        <activity
            android:name=".module.app.BrowerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <service android:name=".widget.NetworkService"/>
        <!-- vip -->
        <activity
            android:name=".module.entrance.VipActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- vip -->
        <activity
            android:name=".module.discover.InterestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 番剧详情 -->
        <activity
            android:name=".module.bangumi.BangumiDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- 视频详情 -->
        <activity
            android:name=".module.app.video.VideoDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- up主详情 -->
        <activity
            android:name=".module.app.up.UpDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- 搜索 -->
        <activity
            android:name=".module.search.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 视频播放 -->
        <activity
            android:name=".module.app.video.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".module.app.video.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/BaseAppTheme">
        </activity>

        <!--网络服务-->
        <service android:name=".widget.NetworkService"/>

    </application>

</manifest>